<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        type="text"
        matInput
        [ngModel]="post?.title"
        name="title"
        required
        minlength="3"
        #title="ngModel"
        placeholder="Title"
      />
      <mat-error *ngIf="title.invalid">Title required</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
      <input type="file" #filePicker>
    </div>
    <mat-form-field>
      <textarea
        matInput
        rows="6"
        [ngModel]="post?.content"
        name="content"
        required
        minlength="3"
        #content="ngModel"
        placeholder="Content"
      ></textarea>
      <mat-error *ngIf="content.invalid">Content required</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button>Save Post</button>
  </form>
</mat-card>
